<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>Streamlit Apps</title>
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
    </div>
    <ul>
        <li>
          <a class="navbar-brand" href="/">
            <div class="logo-image">
              <img src="/static/images/logo.png" class="img-fluid">
            </div>
          </a>
        </li>
        {% for app in apps %}
            {% if app.running %}
                <li>
                    <a href="{{app.url}}" class="app-link">{{app.name}}</a>
                </li>
            {% else %}
                <li>
                    <a href="#" class="app-link">{{app.name}}</a>
                </li>
            {% endif %}
        {% endfor %}

</body>

</html>